<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<body>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <style>
        .Panel {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding-left: 10px;
            padding-right: 10px;
        }

        #QueryProduct {
            min-width: 100%;
        }

        .RowContainer {
            display: flex;
            flex-direction: row;
        }

        .ColContainer {
            display: flex;
            flex-direction: column;
        }

        .SpaceBetween {
            justify-content: space-between;
        }

        .Wide75 {
            width: 75%;
        }

        .Wide15 {
            width: 15%;
        }

        .Wide5 {
            width: 5%;
        }

        .Wide45 {
            width: 45%;
        }

        .Wide100 {
            width: 100%;
        }

        .Wide10 {
            width: 10%;
        }

        .Button {
            border: solid 1px black;
            background-color: grey;
            padding: 5px;
        }

        .Dial {
            border: solid 1px black;
            border-radius: 10px;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 5px;
        }

        .padBot10 {
            padding-bottom: 10px;
        }
    </style>
    <div id="SearchControl" style="display: flex; flex-direction: row; min-width: 100%;">
        <div id="ItemsPanel" class="Panel">
            <input id="QueryProduct" v-model="queryProduct.query" />
            <div id="ItemsContainer" class="ColContainer" style="padding-top: 5px;">
                <div id="Item" v-for="item in itemsContainer.items" :key="item.id"
                    class="RowContainer SpaceBetween Wide100" style="padding-top: 5px;">
                    <div class="RowContainer Wide75" style="padding-top: 5px;">{{item.name}}</div>
                    <div class="RowContainer Wide15" style="padding-top: 5px;">Rs {{item.rate}}</div>
                    <div class="RowContainer Wide15 SpaceBetween">
                        <div class="Button" v-on:click="UpdateItem(item,'remove')">-</div>
                        <div class="Dial">{{GetQty(item.id)}}</div>
                        <div class="Button" v-on:click="UpdateItem(item,'add')">+</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="BillPanel" class="Panel">
            <div class="RowContainer SpaceBetween padBot10">
                <div class="RowContainer Wide5">S.no</div>
                <div class="RowContainer Wide45">Item</div>
                <div class="RowContainer Wide10">Rate</div>
                <div class="RowContainer Wide5">Qty</div>
                <div class="RowContainer Wide15">Amount</div>
            </div>
            <div v-for="item in bill.items" :key="item.id" class="ColContainer Width100">
                <div class="RowContainer SpaceBetween">
                    <div class="RowContainer Wide5">{{item.id}}</div>
                    <div class="RowContainer Wide45">{{item.name}}}</div>
                    <div class="RowContainer Wide10">{{item.rate}}</div>
                    <div class="RowContainer Wide5">{{item.qty}}</div>
                    <div class="RowContainer Wide15">{{item.amount}}</div>
                </div>
            </div>

        </div>
    </div>
    <script>
        var searchControl = new Vue({
            el: '#SearchControl',
            data: {
                queryProduct: {
                    query: ''
                },
                itemsContainer: {
                    items: [{
                        id: '1',
                        name: 'Some Item 1',
                        rate: 200.56
                    },
                    {
                        id: '2',
                        name: 'Some Item 2',
                        rate: 20.74
                    }]
                },
                bill: {
                    items: []
                }
            },
            computed: {
                GetQuery() {
                    return this.queryProduct.query;
                }
            },
            watch: {
                GetQuery: function (val) {
                    console.log('Iee')
                    var uri = 'http://localhost/PureSale.Web.Application/Api/QueryItems/' + val;
                    fetch(uri, { mode: "no-cors" }).then((x) => { console.log(x.json()); })
                    //var res = 
                }
            },
            methods: {
                UpdateItem: function (item, action) {
                    if (this.bill.items.length > 0) {
                        ind = this.GetItmIndById(item.id);
                        if (ind === -1) {
                            if (action == 'add') {
                                this.bill.items.push({
                                    id: item.id,
                                    name: item.name,
                                    rate: item.rate,
                                    qty: 1,
                                    amount: item.rate
                                });
                            }
                        }
                        else {
                            if (action == 'remove') {
                                if (this.bill.items[ind].qty === 0) {
                                    this.bill.items.splice(ind, 1);
                                    return;
                                }
                                else {
                                    this.bill.items[ind].qty--;
                                    if (this.bill.items[ind].qty === 0) {
                                        this.bill.items.splice(ind, 1);
                                        return;
                                    }
                                }
                            }
                            else if (action == 'add') {
                                this.bill.items[ind].qty++;
                            }
                            this.bill.items[ind].amount = this.bill.items[ind].qty * this.bill.items[ind].rate;
                        }
                    }
                    else if (action == 'add') {
                        this.bill.items.push({
                            id: item.id,
                            name: item.name,
                            rate: item.rate,
                            qty: 1,
                            amount: item.rate
                        });
                    }
                },
                GetQty(id) {
                    if (this.bill.items.length === 0) {
                        return 0;
                    }
                    else {
                        itm = this.GetItmById(id);
                        if (itm === undefined) {
                            return 0;
                        }
                        else {
                            return itm.qty;
                        }
                    }
                },
                GetItmById(id) {
                    function findById(item) {
                        return item.id == id;
                    }
                    var itm = this.bill.items.find(findById);
                    return itm;
                },
                GetItmIndById(id) {
                    function findById(item) {
                        return item.id == id;
                    }
                    var itm = this.bill.items.findIndex(findById);
                    return itm;
                }
            }
        });
    </script>

</body>


</html>