﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <style>
        input {
            min-width: 0px;
            width: auto;
        }

        .Panel {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding-left: 10px;
            padding-right: 10px;
        }

        #QueryProduct {
            min-width: 100%;
        }

        .RowContainer {
            display: flex;
            flex-direction: row;
        }

        .ColContainer {
            display: flex;
            flex-direction: column;
        }

        .SpaceBetween {
            justify-content: space-between;
        }

        .Center {
            justify-content: space-around;
        }

        .Right {
            justify-content: flex-end;
        }

        .Wide75 {
            width: 75%;
        }

        .Wide15 {
            width: 15%;
        }

        .Wide5 {
            width: 5%;
        }

        .Wide45 {
            width: 45%;
        }

        .Wide100 {
            width: 100%;
        }

        .Wide10 {
            width: 10%;
        }

        .Button {
            border: solid 1px black;
            background-color: grey;
            padding: 5px;
        }
        .Button.Red.Pop {
            background-color: transparent;
            border-radius: 1000px;
            height:0px;
            width:0px;
            border:none;
            display:block;
        }

        .Dial {
            border: solid 1px black;
            border-radius: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .Button.Red.Pop:hover {
            background-color: red;
        }

        .padBot10 {
            padding-bottom: 10px;
        }

        .padTop10 {
            padding-top: 10px;
        }
    </style>
    <div id="SearchControl" style="display: flex; flex-direction: row; min-width: 100%;">
        <div id="ItemsPanel" class="Panel">
            <input id="QueryProduct" v-model="queryProduct.query" />
            <div id="ItemsContainer" class="ColContainer" style="padding-top: 5px;">
                <div id="Item" v-for="(item in itemsContainer.items" :key="item.id" class="RowContainer SpaceBetween Wide100" style="padding-top: 5px;">
                    <div class="RowContainer Wide75" style="padding-top: 5px;">{{item.name}}</div>
                    <div class="RowContainer Wide15" style="padding-top: 5px;">Rs {{item.rate}}</div>
                    <div class="RowContainer Right Wide15">
                        <input class="Dial" v-if="!IsNewItem(item)" ref="DialFocus" v-model="bill.items[GetItmIndById(item.id)].qty" v-on:input="UpdateItem(item)" />
                        <div class="Button Red Pop" v-if="!IsNewItem(item)" v-on:click="RemoveItem(item)" style="margin-left: 5px;"></div>
                        <div class="Button" v-else v-on:click="AddItem(item)"> Add </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="BillPanel" class="Panel">
            <div class="RowContainer SpaceBetween padBot10">
                <div class="RowContainer Wide5">S.no</div>
                <div class="RowContainer Wide45">Item</div>
                <div class="RowContainer Wide10">Rate</div>
                <div class="RowContainer Wide5">Qty</div>
                <div class="RowContainer Wide15">Amount</div>
            </div>
            <div v-for="item in bill.items" :key="item.id" class="ColContainer Width100">
                <div class="RowContainer SpaceBetween">
                    <div class="RowContainer Wide5">{{Sno(item.id)}}</div>
                    <div class="RowContainer Wide45">{{item.name}}</div>
                    <div class="RowContainer Wide10">{{item.rate}}</div>
                    <div class="RowContainer Wide5">{{item.qty}}</div>
                    <div class="RowContainer Wide15">{{item.amount}}
                        <div class="Button Red Pop" v-on:click="RemoveItem(item)" style="margin-left: 5px;"></div>
                    </div>
                    
                </div>
            </div>
            <div v-show="ShouldPrint" class="RowContainer Center padTop10">
                <div class="RowContainer">
                    <div>Total Amount : </div>
                    <div>Rs {{TotalAmount}}</div>
                </div>
                <div v-on:click="PrintBill()" class="Button">Print Bill</div>
            </div>
        </div>
    </div>
    <script>
        var searchControl = new Vue({
            el: '#SearchControl',
            data: {
                queryProduct: {
                    query: ''
                },
                itemsContainer: {
                    items: []
                },
                bill: {
                    items: []
                }
            },
            computed: {
                GetQuery() {
                    return this.queryProduct.query;
                },
                TotalAmount() {
                    var amount = 0;
                    for (i = 0; i < this.bill.items.length; i++) {
                        amount += this.bill.items[i].amount;
                    }
                    return amount;
                },
                ShouldPrint() {
                    return this.bill.items.length > 0;
                }
            },
            watch: {
                GetQuery: function (val) {
                    if (val.length > 2) {
                        var uri = '/@(System.Configuration.ConfigurationManager.AppSettings["Domain"])/Api/QueryItems/' + val;
                        fetch(uri).then(x => x.json()).then(y => this.itemsContainer.items = y);
                    }
                }
            },
            methods: {
                IsNewItem(item) {
                    if (this.bill.items.length > 0 && this.GetItmIndById(item.id) != -1) {
                        return false;
                    }
                    else {
                        return true;
                    }
                },
                AddItem(item) {
                    this.bill.items.push(
                        {
                            id: item.id,
                            name: item.name,
                            rate: item.rate,
                            qty: 1,
                            amount: item.rate
                        });
                },
                RemoveItem(item) {
                    var index = this.GetItmIndById(item.id);
                    this.bill.items.splice(index, 1);
                },
                UpdateItem(item) {
                    var index = this.GetItmIndById(item.id);
                    var qty = this.bill.items[index].qty;
                    if (qty == 0) {
                        //this.bill.items[index].qty = 1;
                    }
                    else {
                        this.bill.items[index].amount = this.bill.items[index].rate * this.bill.items[index].qty;
                    }
                },
                GetItmIndById(id) {
                    function findById(item) {
                        return item.id == id;
                    }
                    var itm = this.bill.items.findIndex(findById);
                    return itm;
                },
                Sno(id) {
                    return this.GetItmIndById(id) + 1;
                },
                PrintBill() {
                    var items = []
                    for (i = 0; i < this.bill.items.length; i++) {
                        var itm = this.bill.items[i];
                        var item = {
                            Name: itm.name,
                            Amount: itm.amount,
                            Rate: itm.rate,
                            Quantity: itm.qty
                        };
                        items.push(item);
                    }
                    var bill = {
                        BillNumber: 123,
                        Amount: this.TotalAmount,
                        Items: items
                    }
                    var uri = '/@(System.Configuration.ConfigurationManager.AppSettings["Domain"])/Api/PrintBill/A6/' + '12345';
                    fetch(uri, {
                        method: "POST",
                        body: JSON.stringify(bill),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(x => {
                        if (x.ok)
                        {
                            this.queryProduct = {
                                query: ''
                            };
                            this.itemsContainer = {
                                items: []
                            };
                            this.bill = {
                                items: []
                            };
                        }
                    });
                }
            }
        });
    </script>

</body>
</html>
